name: CI/CD Docker Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build --platform linux/amd64 -t haupham2311/fe-core-web-cms:latest .
          docker push haupham2311/fe-core-web-cms:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            docker pull haupham2311/fe-core-web-cms:latest
            docker stop fe-core-web-cms || true
            docker rm fe-core-web-cms || true
            docker run -d --name fe-core-web-cms -p 5005:3001 haupham2311/fe-core-web-cms:latest